---
import Layout from "@/layouts/Layout.astro";
import HeaderPage from "@/sections/HeaderPage.astro";
import CardsSeciton from "@/sections/CardsSection.astro";
---

<Layout>
	<div class="w-full min-h-dvh grid grid-rows-[auto_1fr]">
		<HeaderPage />
		<CardsSeciton />
	</div>
</Layout>
